* {
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: lightslategrey;
    padding-bottom: 48px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    
}

#body {

    background-color: lightsteelblue;
}

.buttons-container {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.score-container {

    background-color: whitesmoke;
    border-color: blue;
    border: solid 2px;
    display: block
    
}